@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Share+Tech+Mono&display=swap') layer(base);

@import 'tailwindcss';
@plugin "daisyui" {
  themes: dracula --default;
}

@theme {
  --font-display: "Share Tech Mono",
    "Noto Sans TC",
    "sans-serif";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold mb-5;
  }

  h2 {
    @apply text-3xl font-bold mb-5;
  }

  p {
    @apply text-xl mb-5;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}